.main {
  display: flex;
  flex-direction: column;
  background-color: #334B35;
  padding: 50px 220px;
  /* justify-content: space-around; */
  /* margin: 25px 0 50px; */
}

.main__description {
  font-size:56px;
  font-weight: 900;
  color: wheat;
  text-align: center;
  margin: 0 0 15px;
}

@media  screen and (max-width: 1200px) {
  .main {
    padding: 50px 100px;
  }
  .main__description {
    font-size:48px;
  }
}

@media screen and (max-width: 992px) {
  .main__description {
    font-size:32px;
  }

}
@media screen and (max-width: 650px) {
  .main {
    padding: 30px 75px;
  }
  .main__description {
    font-size:24px;
  }
}

@media screen and (max-width: 525px) {
  .main {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 425px) {
  .main {
    padding: 15px 25px;
  }
}
