.discounts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px 50px;
  background-color:  #334B35;
  color: wheat;
  font-size: calc(10px + 14 * (100vw - 320px) / 960);
  row-gap: 25px;
}

.discounts__image {
  width: 75%;
  border-radius: 15px;
}

.discounts__title {
  width: 100%;
  background-color:  #FDAD18;
  color: #334B35;
  border-style: none;
  border-radius: 15px;
  margin: 0;
  padding: 5px 0;
  font-weight: 600;
}

.discounts__text {
margin: 0;
}

.discounts__list {
  margin: 0;
}
.discounts__link {
  color: wheat;
}

.discounts__link:hover {
  color: #DC2C1D;
}

.discounts__button {
  color: #DC2C1D;
  font-weight: 900;
  width: 100%;
  background-color:  #FDAD18;
  border-radius: 15px;
  padding: 15px 0;
}

@media  screen and (max-width: 1200px) {
  .discounts {
    padding: 25px 75px;
  }
}

@media screen and (max-width: 992px) {
  .discounts {
    padding: 25px 50px;
  }
}

@media screen and (max-width: 768px) {
  .discounts {
    padding: 0 30px 25px;
    row-gap: 15px;
  }
}
